<nav class="nav-bar">
    <div>                
        <img src="/img/logo.png" alt="asdf" class="logo">
        <h1 class="pacifico-regular name">Birthday Reminder</h1>
    </div>

    <ul class="pacifico-regular links">
        <li>
            <span class="material-symbols-outlined menu-icon" id="menu-icon">
                menu
            </span>
        </li>
    </ul>

    <div class="pacifico-regular menu-hidde" id="menu-options">
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>

</nav>