<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="body">
    <div class="container">
        <%- include('partials/navbar.ejs') %>
        <div class="content">
            
        </div>
        <%- include('partials/footer.ejs') %>
    </div>  
    <%- include('partials/foot.ejs') %>
</body>
</html>
