<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="body">
    <div class="container">
        <%- include('partials/navbar.ejs') %>
        <div class="content">
            <div class="about">
                <h1 class="pacifico-regular">Nosso serviço</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore illo veniam vero sequi sunt, aliquid eligendi quisquam ipsum, ipsam dolores incidunt laborum culpa esse corrupti assumenda et eveniet impedit omnis.
                </p>
            </div>
            <div>
                <h1 class="pacifico-regular">Características</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eaque, doloribus ab deserunt quos dolorum pariatur dolorem nemo maxime neque natus impedit sequi praesentium illum fuga incidunt quaerat, perferendis rem.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, tempore quaerat saepe quae molestiae recusandae veritatis tenetur dignissimos beatae dicta nulla voluptate earum fugiat consequatur vero laborum aliquid ducimus placeat!
                </p>
            </div>
            <div>
                <h1 class="pacifico-regular">Tecnologias</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eaque, doloribus ab deserunt quos dolorum pariatur dolorem nemo maxime neque natus impedit sequi praesentium illum fuga incidunt quaerat, perferendis rem.
                </p>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>
    <%- include('partials/foot.ejs') %>
</body>
</html>