<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="body">
    <div class="container">
        <%- include('partials/navbar.ejs') %>
        <div class="content">
            <div>
                <form action="/login" method="POST" class="form-login">
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div>
                        <button type="submit" class="pacifico-regular">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>  
    <%- include('partials/foot.ejs') %>
</body>
</html>
