<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="body">
    <div class="container">
        <%- include('partials/navbar.ejs') %>
        <div class="content">
            <div class="about">
                <h1 class="pacifico-regular">Nosso serviço</h1>
                <p>
                    O Birthday Reminder é uma solução inovadora que simplifica a forma como você lembra das datas importantes. Com nosso serviço, você recebe notificações automáticas por e-mail sobre os aniversários dos seus contatos, garantindo que você nunca mais perca uma celebração importante. Com um sistema totalmente personalizado, você será notificado no próprio dia do aniversário, além de lembretes com 2 dias e 1 semana de antecedência. Isso tudo de forma automatizada e eficiente, para que você mantenha suas conexões pessoais sempre em dia.
                </p>
            </div>
            <div class="about">
                <h1 class="pacifico-regular">Características</h1>
                <p>
                    Nosso serviço de notificações é baseado em tecnologia de ponta e foi desenvolvido com o objetivo de trazer praticidade e precisão para o seu dia a dia. Utilizamos e-mails personalizados que são enviados automaticamente para lembrar você das datas especiais. O sistema é altamente flexível, com configurações fáceis de gerenciamento e envio de notificações. Além disso, contamos com um banco de dados robusto, garantindo que suas informações estão sempre seguras. Seja para gerenciar aniversários de amigos, familiares ou colegas de trabalho, o Birthday Reminder entrega uma solução simples e eficiente, facilitando o gerenciamento de datas importantes.
                </p>
            </div>
            <div class="about">
                <h1 class="pacifico-regular">Tecnologias</h1>
                <p>
                    O Birthday Reminder foi construído utilizando as melhores ferramentas e tecnologias disponíveis no mercado. Nossa aplicação é hospedada em um ambiente seguro e escalável na plataforma de cloud Render, garantindo que seu serviço esteja sempre online. Para o gerenciamento dos dados, utilizamos o banco de dados MongoDB Atlas, líder no setor de bancos de dados NoSQL, proporcionando performance e segurança, principalmente para o login criptografado com bcryptjs. A automação das notificações é feita através do poderoso Node.js, utilizando bibliotecas como Express para o servidor, Mongoose para o gerenciamento do banco de dados, Nodemailer para o envio dos e-mails e Node-Cron para a programação dos lembretes. Além disso, utilizamos HTML, CSS e JavaScript para garantir uma experiência de usuário fluida e moderna.
                </p>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
    </div>
    <%- include('partials/foot.ejs') %>
</body>
</html>