<footer class="footer">
    <p class="pacifico-regular">
        © Developed by <a href="http://gustavoesposar.dev" target="_blank" rel="noopener noreferrer"><i>Gustavo B. Esposar</i></a>
    </p>
</footer>