<footer class="footer">
    <p class="pacifico-regular">
        © Developed by <a href="http://gustavoesposar.dev" target="_blank" rel="noopener noreferrer"><i>Gustavo B. Esposar</i></a>
    </p>
</footer>

<div id="confirmation-toast" class="toast-overlay hidden">
    <div class="toast-content">
        <div class="toast-header">
            <span class="toast-icon">⚠️</span>
            <h3>Cuidado</h3>
        </div>
        <p id="toast-message">Tem certeza que deseja continuar com esta ação?</p>
        
        <div class="toast-actions">
            <button id="toast-btn-cancel" class="cancel-btn">Cancelar</button>
            <button id="toast-btn-confirm" class="danger-btn">Sim, confirmar</button>
        </div>
    </div>
</div>